@media(max-width:1140px){
    header{
        max-width: 1000px;
    }
    .nav{
        width: 1000px;
    }
    section.banner{
        width: 1000px;
    }
    .logo_banner img{
        width: 100%;
    }
    .courses_details {
        max-width: 1000px;
    }
    .features{
        width: 950px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .s_card{
        width: 1000px;
    }
    .col-4-1{
        flex-basis: 44.75%;
        max-width: 44.75%;
    }
    .future_J_G{
        width: 1000px;
    }
    .future_course_body{
        width: 1000px;
    }
    .f_p_bangla{
        width:1000px;
    }
    .future_course_flex{
        width: 1000px;
        padding: 50px;
    }
    .col_2_1_course{
        width: 950px;
    }
    .office_details_flex{
        width: 950px;
    }
    .footer_flex{
        width: 950px;
    }
    .future_right_container{
        height: 750px;
    }
    .col_2_1_course{
        width: 1000px;

    }
    .col_4_1{
        flex-basis: 35%;
        max-width: 35%;
    }
    .col_3_1{
        
            flex-basis: 35%;
            max-width: 35%;
        
    }

}
